<form #form="ngForm" (ngSubmit)="onSubmit(form)">
  <label for="descricao" class="form-label my-1">Descrição</label>
  <input type="text" class="form-control my-1" id="descricao" name="descricao" [(ngModel)]="fmp.descricao">

  <label for="cas" class="form-label my-1">CAS</label>
  <input type="text" class="form-control my-1" id="cas" name="cas" [(ngModel)]="fmp.cas">

  <label for="dcb" class="form-label my-1">DCB</label>
  <input type="text" class="form-control my-1" id="dcb" name="dcb" [(ngModel)]="fmp.dcb">

  <label for="dci" class="form-label my-1">DCI</label>
  <input type="text" class="form-control my-1" id="dci" name="dci" [(ngModel)]="fmp.dci">

  <button type="submit" class="btn btn-success my-2">Salvar</button>
</form>

<table class="table">
  <caption class="caption-top"><h2>Matérias-primas</h2></caption>
  <thead>
    <tr>
      <th>Descrição</th>
      <th>CAS</th>
      <th>DCB</th>
      <th>DCI</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let mp of mps">
      <td>{{ mp.descricao }}</td>
      <td>{{ mp.cas }}</td>
      <td>{{ mp.dcb }}</td>
      <td>{{ mp.dci }}</td>
      <td>
        <a routerLink="/materia-prima/:id/edicao" class="btn btn-sm btn-success mx-1">Editar</a>
        <a routerLink="/materia-prima/:id/exclusao" class="btn btn-sm btn-danger mx-1">Excluir</a>
      </td>
    </tr>
  </tbody>
</table>
