<form #form="ngForm" (ngSubmit)="onSubmit(form)">
  <label for="descricao" class="form-label my-1">Descrição</label>
  <input type="text" class="form-control my-1" id="descricao" name="descricao" [(ngModel)]="fe.descricao">

  <label for="material" class="form-label my-1">Material</label>
  <input type="text" class="form-control my-1" id="material" name="material" [(ngModel)]="fe.material">

  <label for="capacidade" class="form-label my-1">Capacidade</label>
  <input type="number" class="form-control my-1" id="capacidade" name="capacidade" [(ngModel)]="fe.capacidade">

  <button type="submit" class="btn btn-success my-2">Salvar</button>
</form>

<table class="table">
  <caption class="caption-top"><h2>Embalagens</h2></caption>
  <thead>
    <tr>
      <th>Descrição</th>
      <th>Material</th>
      <th>Capacidade(g)</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let e of es">
      <td>{{ e.descricao }}</td>
      <td>{{ e.material }}</td>
      <td>{{ e.capacidade }}</td>
      <td>
        <a routerLink="/embalagem/:id/edicao" class="btn btn-sm btn-success mx-1">Editar</a>
        <a routerLink="/embalagem/:id/exclusao" class="btn btn-sm btn-danger mx-1">Excluir</a>
      </td>
    </tr>
  </tbody>
</table>
