<form #form="ngForm" (ngSubmit)="onSubmit(form)">
  <label for="nome" class="form-label my-1">Nome</label>
  <input type="text" class="form-control my-1" id="nome" name="nome" [(ngModel)]="ff.nome">

  <label for="cnpj" class="form-label my-1">CNPJ</label>
  <input type="text" class="form-control my-1" id="cnpj" name="cnpj" [(ngModel)]="ff.cnpj">

  <label for="endereco" class="form-label my-1">Endereço</label>
  <input type="text" class="form-control my-1" id="endereco" name="endereco" [(ngModel)]="ff.endereco">

  <label for="telefone" class="form-label my-1">Telefone</label>
  <input type="text" class="form-control my-1" id="telefone" name="telefone" [(ngModel)]="ff.telefone">

  <label for="sicaf" class="form-label my-1">SICAF</label>
  <input type="text" class="form-control my-1" id="sicaf" name="sicaf" [(ngModel)]="ff.sicaf">

  <label for="email" class="form-label my-1">E-mail</label>
  <input type="email" class="form-control my-1" id="email" name="email" [(ngModel)]="ff.email">

  <button type="submit" class="btn btn-success my-2">Salvar</button>
</form>

<table class="table">
  <caption class="caption-top"><h2>Fornecedores</h2></caption>
  <thead>
    <tr>
      <th>Nome</th>
      <th>CNPJ</th>
      <th>Endereco</th>
      <th>Telefone</th>
      <th>SICAF</th>
      <th>E-mail</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let f of fs">
      <td>{{ f.nome }}</td>
      <td>{{ f.cnpj }}</td>
      <td>{{ f.endereco }}</td>
      <td>{{ f.telefone }}</td>
      <td>{{ f.sicaf }}</td>
      <td>{{ f.email }}</td>
      <td>
        <a routerLink="/fornecedor/:id/edicao" class="btn btn-sm btn-success mx-1">Editar</a>
        <a routerLink="/fornecedor/:id/exclusao" class="btn btn-sm btn-danger mx-1">Excluir</a>
      </td>
    </tr>
  </tbody>
</table>
